[Desktop Entry]
Version=1.0
Name=Chromium Dev
GenericName=Web Browser
Exec=/usr/bin/firejail --private=/home/xyz/.fjdirs/chromium-dev /usr/bin/chromium-browser %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;